html, body {
  height: 100%; /* Ensure the body and html take up the full viewport height */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth; /* Ensure smooth scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

#root {
  min-height: 100%; /* The root should cover the full height of the viewport */
}
